.gist table tr td {
  border: 0px !important;
}

.post img {
  display: block;
  margin: auto;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .5rem;
}

.alert p {
  margin-top: 0;
}

.alert .fa {
  margin: 0.75rem 0.75rem 0 0;
  float: left;
}

@media only screen and (max-width: 768px) {
  .alert .fa {
    margin: 0.30rem 0.50rem 0 0;
  }
}

.alert-info {
  color: rgb(166, 213, 250);
  background-color: rgb(3, 14, 24);
}

.alert-info .fa {
  color: #2196f3;
}

.alert-success {
  color: rgb(183, 223, 185);
  background-color: rgb(7, 17, 7);
}

.alert-success .fa {
  color: #4caf50;
}

.alert-danger {
  color: rgb(250, 179, 174);
  background-color: rgb(24, 6, 5);
}

.alert-danger .fa {
  color: #f44336;
}

.alert-warning {
  color: rgb(255, 213, 153);
  background-color: rgb(25, 15, 0);
}

.alert-warning .fa {
  color: #ff9800;
}
